/* Container */
.container{
    margin-top: 2%
}

/* Imagem do carousel */
.d-block, w-100{
filter: brightness(0.4) !important;
height: 400px !important;
}


/* Carousel */


.carousel {
padding-bottom: 3% !important;
}
/* End carousel */

.carousel-indicators {
display: none;
}

/* Card image */
.card-img-top{
padding: 3% !important;
border-radius: 20px !important;
}

/* End carousel border */
.carousel-inner{
    border-radius: 10px !important;
}
/* End carousel border */

/* Carousel button caption */
button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: 0 !important;
    line-height: inherit;
}

/* End arousel button caption */

